body{
 background-color: violet;
}
p{
 color: purple;   
}
button{
    background-color: yellow;
    color: greenyellow;
}
#camara,#resultado{
    border: 2px dashed blue;
    height: 300px;
    width: 350px;
}
